{% include 'header.html'  %}
<div class="grid-x">
    <div class="cell small-1 medium-2 large-3">
        &nbsp;
    </div>
    <div class="cell small-10 medium-8 large-6" id="news-cell-list">
        
    </div>
    <div class="cell small-1 medium-2 large-3">
        &nbsp;
    </div>
</div>
<script>
    function show_news_list(nlist) {
        html = '';
        for(var i=0; i<nlist.length; i++) {
            html += `
                <p>
                    <a href="/shownews/${nlist[i].id}">
                        ${nlist[i].news_title}
                    </a>
                </p>
            `;
        }
        brutal.autod('#news-cell-list', html);
    }

    function get_news_list() {
        aj_get({
            url:'/api/newslist',
            success:function(xr){
                show_news_list(xr);
            }
        });
    }

    window.onpageshow = function() {
        get_news_list();
    }

</script>
{% include 'footer.html' %}
